<h1>Welcom</h1>
<p>Welcom To story books 1.0</p>
<p>Post Story from the best and worst of your life and choose for them 
 to be read form the world or completly private as your own personal diary
</p>

<a class="btn red darken-3 " href="/auth/google">
    <i class="fa fa-google center" ></i> Login With Google </a>